.navigationWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    position: fixed;
    left: 3%;
    border-right: solid 1px #838383;
    max-width: 21%;
    height: 100vh;
    padding-top: 36px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 56px;
}
#red{
    color: red;
}
nav > span{
    font-size: 30px;
    letter-spacing: 3px;
}