#searchBar{
    text-align: center;
    color: whitesmoke;
    letter-spacing: 5px;
    font-size: 20px;

    height: 40px;
    width: 350px;

    margin-top: 39px;

    border-radius: 30px;
    background: grey;
    outline: none;
}
#searchBar::placeholder{
    color: rgba(245, 245, 245, 0.728);
}
#searchBar:focus::placeholder {
    color: transparent;
}