.ActivebrowseWrapper{
    display: flex;
    column-gap: 40px;
    padding-bottom: 30px;
    overflow: hidden;
    overflow-x: scroll;
    font-size: 20px;
    page-break-after: auto;
}
.activeContainer {
    display: flex;
    gap: 50px;
    align-items: center;
}
.activeImage{
    height: 500px;
    border-radius: 22px;
    cursor: pointer;
    transition: 300ms;
}

